# Игнорировать бинарные файлы и исполняемые файлы
/main

# Игнорировать объектные файлы и директорию obj
/obj/

# Игнорировать директорию сборки
/build/

# Игнорировать лог ошибок
/error_log.txt

# Игнорировать файлы и директории, специфичные для IDE
/.vscode/
/.idea/

# Игнорировать пользовательские настройки и кэш
*.user
*.suo
*.cache

# Игнорировать временные файлы
*.tmp
*.temp

# Игнорировать системные файлы
.DS_Store
Thumbs.db

# Игнорировать локальные конфигурации
.env
.env.local