# Игнорировать бинарные файлы и исполняемые файлы
/main
/snake
*.exe

# Игнорировать объектные файлы и директорию obj
/obj/
/win-obj/
*.o
*.d

# Финальные сборки и архивы
/dist/
*.zip

# Игнорировать директорию сборки
/build/

# Игнорировать лог ошибок
/error_log.txt

# Игнорировать файлы IDE и пользовательские настройки
/.vscode/
/.idea/
*.user
*.suo
*.cache

# Игнорировать временные и системные файлы
*.tmp
*.temp
.DS_Store
Thumbs.db

# Игнорировать локальные конфигурации
.env
.env.local

# Игнорировать неиспользуемые ресурсы
/assets/fonts/Open_Sans

# Игнорировать библиотеки которые нужны только для Windows сборки
libgcc_s_seh-1.dll
libstdc++-6.dll
SDL2.dll
SDL2_ttf.dll